<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CamMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CamMonitor.Properties.Settings>
            <setting name="CamMonitor_DBService_dbMethods" serializeAs="String">
                <value>http://www.ccast.edu.ps/dbservice/dbMethods.asmx</value>
            </setting>
        </CamMonitor.Properties.Settings>
    </applicationSettings>
</configuration>